<div class="show__container ">
    <div class="booking__container">
      <h4>Your flight has been booked!</h4>
        <div class="success__booking">
        <h4><%= "#{@booking.flight.departure_airport.city} (#{@booking.flight.departure_airport.code}) - #{@booking.flight.arrival_airport.city} (#{@booking.flight.arrival_airport.code})" %></h4>
              <div class="line-1"> </div>

        <p><b><%= "Departure Date: #{@booking.flight.departure_date_formatted} - #{@booking.flight.departure_time_formatted}" %></b></p>
        
        <p><%= "Ticket Number: #{@booking.flight.id}" %></p>
        </div>
    </div>

    <% @booking.passengers.each_with_index do |passenger, passenger_number| %>
    <div class="passenger__wrapper">
        <% if @booking.passengers.count > 1 %>
          <h4><%= "Passenger #{passenger_number + 1} Information" %></h4>
        <% else %>
          <h4><%= "Passenger Information" %></h4>
        <% end %> 
        <div class="line-1"></div>

          <h3><%= "Name:" %><p><%= passenger.name.titleize %></p></h3>
          
          <h3><%= "Email:" %> <p><%= passenger.email %></p></h3>
         
        </div>
      <% end %>
       </div>
    </div>
</div>
